.maindiv{
    width: 60%; /* Or any specific width less than 100% */
    margin-left: auto;
    margin-right: auto;
    background-color: #f7f7f7;
    padding-bottom: 2px;
    padding-top: 5px;
}

.headdiv{
    background-color: #A8F0EF;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -15px;
    background-color: #A8F0EF;
}

.friendsdiv {
    float: left;
    width: 200px;
    background-color: #3FE0D0;
    border-radius: 10px;
    border-style: solid;
    border-color: #0D8785;
    margin-left: 20px;
    margin-top: 15px;
    padding: 10px;
}

.div4 {
    float: right;
    width: calc(100% - 280px); 
    background-color: #EAFAFA;
    border: 4px solid #C2E7E9;
    border-radius: 5px;
    margin-right: 20px; 
    margin-top: 15px;
    padding: 10px;
    box-sizing: border-box; 
}


#headtxt{
    text-align: right;
    margin-right: 10px;
}

#friendtxt{
    margin-left: 20px;
    color: #4fa199e8;
}

li::marker {
    color: #040D0C; 
}

ul.filled-bullets {
  list-style-type: disc;
}

.maindiv::after { /* This content and float content I studied from w3schools, but due to time constraint*/
    content: "";  /* I did not have time to properly understand this */
    display: block;
    clear: both;
}

